.Xauthority
.bash_history
.cache/
.config/
.cups/
.dmrc
.dpad.py.swp
.gorob.py.swn
.gorob.py.swo
.gorob.py.swp
.lancher.sh.swp
.local/
.python_history
.ssh/
.viminfo
.vnc/
.wget-hsts
.xsession-errors
.xsession-errors.old
__pycache__
test1.py
test.py!

